body {
    background-color: lightgray;
}

.sample {
    height: 50px;
    border: solid black 1px;
    background: darkorange;
    margin: 10px;
}

#block-sample {
    display: block;
}

#inline-sample {
    display: inline;
}

#none-sample {
    display: none;
}

#inlineblock-sample {
    display: inline-block;
    width: 90%;
    height: 100px;
}

.block-elements>* {
    border: 1px solid blue;
}

.inline-elements>* {
    border: 1px solid red;
}

#relative-sample {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 0px;
    left: 30px;
    background-color: green;
}

#absolute-sample {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: purple;
}

#fixed-sample {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 40px;
    right: 80px;
    background-color: yellow;
}

#static-sample {
    height: 50px;
    width: 50px;
    position: static;
    top: 40px;
    right: 80px;
    background-color: red;
}

#for-spacing {
    height: 100vh;
    /* \
  vw = view width
  vh = view height
  */
}